/* Reset */




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.page {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

h1,
h2 {
    font-weight: 700;
    margin: 22px 0;
    background-color: #0065FC;
}

p {
    margin: 15px 0;
}

input, button {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 700;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    height: 19px;
    width: 61px;
    margin-top: 44px;
}

header nav a {
    padding: 15px 0;
    margin: 0 10px;
    border-top: solid 2px transparent;
    text-decoration: none;
    padding-top: 48px;
    display:inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

header nav a:link {
    color: #000000
}

header nav a:hover,
header nav a:active {
    color: #0065FC;
    border-top: solid 2px #0065FC;
}

section.recherche {
    margin-top: 48px;
}

.info-circle {
    border: solid 1px grey;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.paragraphe-x {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.fa-solid.fa-info {
    color: #0065FC;
    font-size: 16px;
}

.paragraphe-2 {
    color: #000000;
    font-size: 16px;
    display: inline-block;

}

/*
header nav a:visited {
    color: #000000;
}*/



.link-card-gauche {
    width: 100%;
    height: 215px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.link-card-droite {
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: row;


}

.link-card-activites {
    width: 100%;
    height: 480px;
}

a.link-card-gauche,
.link-card-droite,
.link-card-activites :hover {
    cursor: pointer;
}

input {
    width: 225px;
    height: 50px;
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;
    font-weight: 700;
    padding-left: 10px;
    
}

form > button {
    color: white;
    text-align: center;
    height: 50px;
    left: 408px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 0 16px;
    cursor: pointer;
}

.fa-solid.fa-magnifying-glass {
    display: none;
}

.fa-solid.fa-location-dot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    width: 50px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
}

.nav-filtres {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

a.nav2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 12px;
    margin-right: 30px;
    font-weight: 700;
    height: 50px;
}

a.nav2:hover,
a.nav2:active {
    background: #deebff;
}

.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-dog {
    color: #0065FC;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    align-items: flex-start;
}

.flex-container-filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    /* flex-wrap: wrap; */
    margin-top: 30px;
}

.flex-container-filtres:hover {
    cursor: pointer;
}

section#hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 650px;
}

.tableau-gauche {
    background: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 20px;
}

.tableau-droite {
    background: #F2F2F2;
    border-radius: 20px;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 75%;
    margin-top: -35px;
}

.container-card-droite {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 85%;
    margin-top: -3px;

}

.card-gauche {
    width: 245px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-droite {
    width: 85%;
    height: 155px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.img-card-gauche {
    width: 246px;
    height: 124px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 12px
}

.img-card-droite {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding: 4px;

}

.container-gauche {
    height: 80px;
    /* padding-top: 15px; */
    font-weight: 700 400;
    padding-left: 20px;
    /* padding-bottom: 0px; */
    line-height: 0.8em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-top: 5px;
}

.container-droite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 700 400;
    border-radius: 20px;
    margin-left: 13px;
    margin-right: 10px;
    padding-top: 16px;
    padding-bottom: 8px
}

.titre-hebergements {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 25px;
}

.titre-droite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-top: 3px;
}

#titre-activites {
margin-top: 60px;
}

span>i {
    color: #0065FC;
}

.fa-solid.fa-star.grey {
    color: #F2F2F2;
}

.fa-solid.fa-circle-info {
    margin-right: 5px;
    color: #FFFFFF;
    background-color: #0065FC;
    border: solid 2px #FFFFFF;
}

.euro {
    font-weight: 700;
}

.fa-solid.fa-chart-line {
    color: #0065FC;
}

.activites {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.card-activites {
    width: 23%;
    height: 445px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.img-activites {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.container-activites {
    height: 65px;
    background: #FFFFFF;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

footer {
    background: #F2F2F2;
    height: 300px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.tableau-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-left: -130px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.text-footer {
    line-height: 0.9em;
    padding-top: 10px;
}



@media screen and (max-width: 992px)  {
    h2{
        background-color: green;
    }

    .page {
        margin: 0 auto;
        padding: 0 50px;
    }

    .nav-filtres {
        gap: 10px;
    }
    a.nav2 {
        margin-right: 10px;
    }
    
    section#hebergements {
        flex-direction: column;
        height: 100%;

    }

    section.recherche {
        padding: 0;
    }

    .tableau-gauche {
        width: 100%;
        height: 700px;
    }

    .tableau-droite {
        width: 100%;
        flex-direction: column;
        height: 278px;
        margin-top: 60px;
        justify-content: flex-start;
    }

    .img-card-droite {
        width: 45%;
        height: 92%;
    }

    .container-droite {
        height: 144px;
    }

    .container-card-droite {
        flex-direction: row;
        padding: 0 20px;
        height: 55%;
    }

    .card-droite {
        height: 144px;
        width: 30%;
        line-height: 0.9em;
    }

    .titre-droite {
        /* padding-top: 40px; */
        width: 90%;
    }

    .card-activites {
        width: 23%;
        height: 300px;
    }

    .img-activites {
        height: 75%;
    }

    .container-activites {
        height: 56px;
        /* padding-bottom: 10px; */
    }

    #titre-activites {
        margin-top: 65px;
        margin-bottom: 32px;
    }

    .tableau-footer {
        justify-content: center;
    }

    .footer {
        margin-left: 90px;
    }

    footer {
        margin-top: 70px;
    }

}

@media screen and (min-width: 2px) and (max-width: 768px) {
    h2{
        background-color: red;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header>nav {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: solid 3px #F2F2F2
    }

    header nav a {
        margin-left: 1px;
        margin-left: 1px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        ;
    }

    header nav a:hover,
    header nav a:active {
        border-top: solid 3px #FFFFFF;
        border-bottom: solid 3px #0065FC;
    }

    .flex-container-filtres {
        /* display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; */
    }

    .nav-filtres {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        /* height: 150px; */
        /* justify-content: space-between; */
        
    }

    a.nav2 {
        display: flex;
        /* flex-direction: row; */
        justify-content: flex-start;
        /* width: 130px; */
        padding: 10px 10px;
        font-size: 11px
    }

    .nav-span2 {
        margin-right: 30px;
    }

    .premiere-rangee {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding: 0 30px;
        margin-left: -30px;
    }

    .deuxieme-rangee {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin-top: -45px;
        padding: 0 30px;
        margin-left: -30px;
    }

    .fa-money-bill-wave,
    .fa-person,
    .fa-heart,
    .fa-dog {
        padding-right: 5px;
    }

    section#hebergements {
        display: flex;
        flex-direction: column-reverse;
    }

    .titre-hebergements {
        padding-left: 10px;
    }

    section.recherche {
        padding: 0 20px;
    }

    .tableau-gauche {
        width: 105%;
        height: 1480px;
        flex-direction: column;
        margin-top: 15px;
        background-color: #FFFFFF;
        justify-content: space-between;
        padding: 0px;
        margin-left: 10px
    }

    .tableau-droite {
        flex-direction: row;
        width: 115%;
        height: 600px;
        margin-top: 10px;
        margin-left: 0px;
        border-radius: 0px;
    }

    .container-card-droite {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
        width: 92%;
    }

    .card-droite {
        width: 88%;
        line-height: 0.9em;
        height: 155px;
    }

    .card-gauche {
        width: 95%;
        margin-top: 10px;
        
    }

    .container-hebergements {
        display: flex;  
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        height: 95%;
    }

    .card-activites {
        width: 95%;
        height: 200px;
        margin-top: 15px;
    }

    .activites {
        height: auto;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 955px;
        margin-top: -40px;
    }


    .container-activites {
        justify-content: flex-start;
        align-items: flex-end;
    }


    footer {
        height: 500px;
        width: 115%;
    }

    .footer {
        line-height: 0.3em;
        margin-top: 50px;
    }

    .tableau-footer {
        margin-left: -65px;
        justify-content: flex-start;
        padding-top: 0px;
        flex-direction: column;
    }

    .titre-droite {
        padding-top: 0px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .paragraphe-2 {
        margin-top: -10px;
    }

    form > button {        
        display: none;
    }

    .fa-solid.fa-magnifying-glass {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        height: 40px;
        width: 40px;
        background: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
    }

    .flex-container-filtres{
        flex-direction: column;

    }
    .flex-container-filtres>h3 {

    }

    #titre-hebergement-bas {
        display: none;
    }

    .link-card-activites {
        display: flex;
        width: 100%;
        height: 200px;
        flex-direction: column;
    }

    .img-activites {
        width: 100%;
        height: 75%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    #titre-activites {
        margin-top: 60px;
        margin-bottom: 0px;
        margin-left: 20px;
        width: 50%;
    }

}