/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.page {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

h1,
h2 {
    font-weight: 700;
    margin: 22px 0;
}

p {
    margin: 15px 0;
}

input,
button {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
}

/* Parametres globaux */


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    height: 19px;
    width: 61px;
    margin-top: 44px;
}

header nav a {
    padding: 15px 0;
    margin: 0 10px;
    border-top: solid 2px transparent;
    text-decoration: none;
    padding-top: 48px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

header nav a:link {
    color: #000000
}

header nav a:hover,
header nav a:active {
    color: #0065FC;
    border-top: solid 2px #0065FC;
}

section.recherche {
    margin-top: 48px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.fa-solid.fa-location-dot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    width: 50px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
}

input {
    width: 225px;
    height: 50px;
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;
    font-weight: 700;
    padding-left: 10px;

}

.fa-solid.fa-magnifying-glass {
    display: none;
}

form>button {
    color: white;
    text-align: center;
    height: 50px;
    left: 408px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 0 16px;
    cursor: pointer;
}

.flex-container-filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 30px;
}

.flex-container-filtres h3 {
    line-height: 50px;
}

.nav-filtres {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

a.nav2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px 10px 5px;
    margin-right: 30px;
    font-weight: 700;
    height: 50px;
}

a.nav2:hover,
a.nav2:active {
    background: #deebff;
    cursor: pointer;
}

.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-dog {
    color: #0065FC;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.paragraphe-x {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.info-circle {
    border: solid 1px grey;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.fa-solid.fa-info {
    color: #0065FC;
    font-size: 14px;
    font-weight: 700;
}

.paragraphe-2 {
    color: #000000;
    font-size: 16px;
    display: inline-block;

}

/* Conteneur des hébergements et des populaires */
section#hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;
}

.hebergements {
    background: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.hebergements>h3 {
    padding: 40px 4px 20px 5px;
}

/* Blocs hébergements */
.bloc-hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;

}

.bloc-hebergement {
    display: inline-block;
    width: 245px;
    height: 215px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4px;
}

.bloc-hebergement>img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}

.bloc-hebergement>h3 {
    margin: 22px 0;
}

.bloc-hebergement>div {
    padding: 0 12px;
}

.bloc-hebergement>div>p {
    margin: 3px;
    font-size: 14px;
}

.bloc-hebergement>div>h3 {
    margin: 3px;
    font-size: 16px;
}

span>i {
    color: #0065FC;
    font-size: 12px;
}

.fa-solid.fa-star.grey {
    color: #F2F2F2;
}

a.bloc-hebergement,
.bloc-populaire,
.link-card-activites {
    cursor: pointer;
}

.populaires {
    background: #F2F2F2;
    border-radius: 20px;
    min-width: 380px;
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 40px;
}


.populaires>h2 {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.fa-solid.fa-chart-line {
    color: #0065FC;
}

.bloc-populaires {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bloc-populaire {
    display: flex;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bloc-populaire>img {
    width: 137px;
    height: 144px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding: 4px;

}

.bloc-populaire>div>p {
    font-size: 14px;
}

.bloc-populaire>div>h3 {
    font-size: 16px;
}

.bloc-populaire>div {
    padding: 13px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bloc-populaire>div>span {
    display: inline-block;
}

.bloc-populaire-bis>p {
    margin: 3px 0;
}

.gras {
    font-weight: 700;
}

#activites {
    margin-top: 60px;
}

.activites {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.link-card-activites {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 23%;
    height: 440px;

}

.link-card-activites>img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.container-activites {
    height: 65px;
    background: #FFFFFF;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

footer {
    background: #F2F2F2;
    margin: 45px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.tableau-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 70px 50px 70px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 30%;
}

.text-footer {
    line-height: 0.9em;
    padding-top: 10px;
}

@media screen and (max-width: 1070px) {
    .bloc-hebergement {
        width: 210px;
    }
}


@media screen and (max-width: 992px) {

    .page {
        margin: 0 auto;
        padding: 0 50px;

    }

    .nav-filtres {
        gap: 10px;
    }

    a.nav2 {
        margin-right: 10px;
    }

    section.recherche {
        padding: 0;
    }

    section#hebergements {
        flex-direction: column;
        height: 100%;
        width: 880px;
    }

    .hebergements {
        width: 100%;
        height: 626px;
    }

    .bloc-hebergements {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    .bloc-hebergement {
        display: inline-block;
        width: 245px;
        height: 199px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        background: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 4px;
    }

    .bloc-hebergement>img {
        width: 100%;
        height: 124px;
        object-fit: cover;
        object-position: center;
        border-radius: 20px 20px 0 0;
    }

    .hebergements>h3 {
        padding: 40px 4px 0px 5px;
    }

    .populaires {
        min-width: 100%;
        width: 883px;
        flex-direction: column;
        margin-top: 60px;
        justify-content: flex-start;

    }

    .bloc-populaires {
        display: flex;
        flex-direction: row;
    }

    .bloc-populaire {
        height: 144px;
        width: 252px;
        display: flex;
        background: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .bloc-populaire>img {
        width: 106px;
        height: 144px;
        object-fit: cover;
        border-radius: 20px 0 0 20px;
        padding: 4px;

    }

    .bloc-populaire-bis > h3 {
        font-size: 16px;
    }
    .bloc-populaire-bis > p {
        font-size: 12px;
    }

    .activites {
        gap: 33px;
        width: 102%;
        flex-wrap: nowrap;
    }

    .link-card-activites {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        width: 23%;
        height: 300px;

    }

    .link-card-activites>img {
        height: 75%;
    }

    .container-activites {
        height: 56px;
    }

    #activites {
        margin-top: 65px;
        margin-bottom: 32px;
    }

    .tableau-footer {
        justify-content: space-around;
        padding: 0;
        width: 95%;
    }

    .footer {
        padding-top: 45px;
        justify-content: flex-start;
    }

    footer {
        margin-top: 70px;
        width: 102%;
    }

}

@media screen and (min-width: 2px) and (max-width: 768px) {

    .page {
        margin: 0;
        padding: 0;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header>nav {
        width: 100%;
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    header nav a {
        width: 50%;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: solid 3px #F2F2F2;
        border-top: none;
    }

    header nav a:hover,
    header nav a:active {
        border-top: none;
        border-bottom: solid 3px #0065FC;
        border-bottom: solid 3px #F2F2F2;
    }

    .nav-filtres {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

    }

    a.nav2 {
        display: flex;
        justify-content: flex-start;
        padding: 10px 10px;
        font-size: 11px
    }

    .nav-span2 {
        margin-right: 30px;
    }

    .fa-money-bill-wave,
    .fa-person,
    .fa-heart,
    .fa-dog {
        padding-right: 5px;
    }

    section.recherche {
        padding: 0 20px;
    }

    form>button {
        display: none;
    }

    .fa-solid.fa-magnifying-glass {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        height: 50px;
        width: 40px;
        background: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
    }

    .flex-container-filtres {
        flex-direction: column;

    }

    .paragraphe-2 {
        margin-top: 46px;
    }

    section#hebergements {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
    }

    .hebergements>h3 {
        display: none;
    }

    .hebergements {
        height: 100%;
        width: 100%;
        flex-direction: column;
        background-color: #FFFFFF;
        border-radius: 0;
        margin: 25px 0 0 0;
        border: none;
        padding: 0 20px;
    }

    .bloc-hebergements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
    }

    .bloc-hebergement {
        width: 100%;
        height: 199px;
    }


    .populaires {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 30px 20px;
    }

    .bloc-populaires {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 10px;
    }

    .populaires>h2 {
        font-size: 22px;
        margin: 0px 0 22px 0;
    }

    .bloc-populaire>div>h3 {
        font-size: 16px;
    }

    .bloc-populaire>div>p {
        font-size: 14px;
    }

    .bloc-populaire {
        height: 144px;
        width: 100%;
    }

    .bloc-populaire>img {
        width: 137px;
        height: 144px;
    }

    #activites {
        width: 50%;
        margin: 100px 0 0 0;
        padding: 0 20px;
    }

    .activites {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 25px;
        padding: 0 20px;
    }

    .link-card-activites {
        display: flex;
        width: 100%;
        height: 190px;
        flex-direction: column;
    }

    .link-card-activites>img {
        width: 100%;
        height: 75%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    .container-activites {
        justify-content: flex-start;

    }

    .footer {
        padding: 45px 30px;
        width: 100%;
    }

    .tableau-footer {
        justify-content: flex-start;
        flex-direction: column;
    }
}