/* Reset */




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.page {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

h2 {
    font-weight: 700;
    margin: 15px 0;
}

p {
    margin: 15px 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}

header img {
    width: 61px;
}

header nav a {
    padding: 15px 0;
    margin-left: 45px;
    border-top: solid 3px transparent;
    text-decoration: none;
    box-sizing: border-box;
}

header nav a:link {
    color: #000000
}

header nav a:hover,
header nav a:active {
    padding-top: 20px;
    color: #0065FC;
    border-top: solid 3px #0065FC;
}

/*
header nav a:visited {
    color: #000000;
}*/

a.nav2 {
    display: inline-block;
    background: white;
    border: 0.6px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 12px;
    margin: 15px;
    font-weight: 700;
}

a.nav2:hover,
a.nav2:active {
    background: #deebff;
}

.link-card-gauche {
    width: 100%;
    height: 215px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.link-card-droite {
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: row;
    align-items: space-between;

}

.link-card-activites {
    width: 100%;
    height: 480px;
}

a.link-card-gauche,
.link-card-droite,
.link-card-activites :hover {
    cursor: pointer;
}

input {
    width: 225px;
    height: 40px;
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;
    font-weight: 700;
    padding-left: 10px;
}

.btn-form {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    width: 110px;
    height: 40px;
    left: 408px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.fa-solid.fa-magnifying-glass {
    display: none;
}

.fa-solid.fa-location-dot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    width: 45px;
    height: 40px;
    border-radius: 15px 0px 0px 15px;
}

.nav-filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 55%;
}

.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-dog {
    color: #0065FC;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-container-filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
}

.flex-container-filtres:hover {
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 680px;
}

.tableau-gauche {
    background: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tableau-droite {
    background: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.rangée-haut {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
}

.rangée-bas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
}

.rangee-droite {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 85%;
}

.card-gauche {
    width: 30%;
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-droite {
    width: 85%;
    height: 155px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.img-card-gauche {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

.img-card-droite {
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding: 4px;

}

.container-gauche {
    padding-top: 15px;
    font-weight: 700 400;
    padding-left: 20px;
    padding-bottom: 0px;
    line-height: 0.8em;
    border-radius: 20px;


}

.container-droite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 700 400;
    border-radius: 20px;
    margin-left: 13px;
    margin-right: 10px;
    padding-top: 16px;
    padding-bottom: 8px
}

.titre-haut {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 60px;
    margin-bottom: -25px;
    margin-top: 30px;
}

.titre-bas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 60px;
    margin-top: 15px;
    margin-bottom: 45px;
}

.titre-droite {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
}

span>i {
    color: #0065FC;
}

.fa-solid.fa-star.grey {
    color: #F2F2F2;
}

.fa-light.fa-circle-info {
    margin-right: 5px;
    color: #FFFFFF;
    background-color: #0065FC;

}

.euro {
    font-weight: 700;
}

.fa-solid.fa-chart-line {
    color: #0065FC;
}

.activites {
    margin-top: 80px;
    height: auto;
}

.tableau-activites {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.card-activites {
    width: 23%;
    height: 480px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.img-activites {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.container-activites {
    height: 65px;
    background: #FFFFFF;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

footer {
    background: #F2F2F2;
    height: 300px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.tableau-footer {
    width: 150%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-left: -250px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.text-footer {
    line-height: 0.9em;
    padding-top: 10px;
}



@media screen and (max-width: 992px) {

    .page {
        margin: 0 auto;
    }

    .nav-filtres {
        width: 100%;
    }

    .premiere-rangee, .deuxieme-rangee {
        display: flex;
        flex-direction: row;
        
    }

    section {
        flex-direction: column;
        height: 100%;

    }

    .tableau-gauche {
        width: 100%;
        height: 700px;
    }

    .tableau-droite {
        width: 100%;
        flex-direction: row;
        height: 300px;
        margin-top: 60px;
    }

    .rangee-droite {
        flex-direction: row;
        margin-top: -25px;
    }

    .card-droite {
        width: 27%;
        line-height: 0.9em;
    }

    .titre-droite {
        padding-top: 40px;
        margin-left: 15px;
    }

    .card-activites {
        width: 23%;
        height: 300px;
    }

    .container-activites {
        height: 45px;
        padding-bottom: 10px;
    }

    .tableau-footer {
        justify-content: center;
    }

    .footer {
        margin-left: 90px;
    }

}

@media screen and (min-width: 2px) and (max-width: 768px) {

    .page {

    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header>nav {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: solid 3px #F2F2F2
    }

    header nav a {
        margin-left: 1px;
        margin-left: 1px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        ;
    }

    header nav a:hover,
    header nav a:active {
        border-top: solid 3px #FFFFFF;
        border-bottom: solid 3px #0065FC;
        border
    }

    .flex-container-filtres {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .nav-filtres {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 150px;
        justify-content: flex-start;
        margin-top: -20px;
    }

    a.nav2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 130px;
        padding: 10px 0px;
        margin: 0px;
        font-size: 11px
    }

    .nav-span2 {
        margin-right: 30px;
    }

    .premiere-rangee {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding: 0 30px;
        margin-left: -30px;
    }   

    .deuxieme-rangee {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin-top: -45px;
        padding: 0 30px;
        margin-left: -30px;
    }

    .fa-money-bill-wave,
    .fa-person,
    .fa-heart,
    .fa-dog {
        padding-right: 5px;
    }

section {
    display: flex;
    flex-direction: column-reverse;
    
    
}

.tableau-gauche {
    width: 105%;
    height: 1480px;
    flex-direction: column;
    margin-top: 15px;
    background-color: #FFFFFF;
    margin-left: 20px;
}

.titre-haut {
    padding: 0;
}

.titre-bas {
    display: none;
}

.tableau-droite {
    flex-direction: row;
    width: 115%;
    height: 600px;
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 0px;
}

.rangee-droite {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    width: 92%;
}

.card-droite {
    width: 88%;
    line-height: 0.9em;
    height: 155px;
}

.card-gauche {
    width: 95%;
    margin-top: 10px;
}

.rangée-haut {
    margin-top: 20px;
}

.rangée-haut,
.rangée-bas {
    flex-direction: column;
    padding: 0;
}

.tableau-activites {
    flex-direction: column;
    width: 110%;
}

.card-activites {
    width: 95%;
    height: 200px;
    margin-top: 15px;
}

.activites {
    margin-top: 65px;
    height: auto;
    margin-left: 15px;
}

.activites>h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 53%;
}

.container-activites {
    height: 25px;
    padding-bottom: 10px;
}

footer {
    height: 500px;
    width: 115%;
}

.footer {
    line-height: 0.3em;
    margin-top: 50px;
}
.tableau-footer {
    margin-left: -65px;
    justify-content: flex-start;
    padding-top: 0px;
    flex-direction: column;
}

.titre-droite {
    padding-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

.paragraphe-1 {
    margin-left: 20px;
}

.paragraphe-2 {
    margin-left: 20px;
    margin-top: -10px;
}
.titre-1 {
    margin-left: 20px;
}

.btn-form {
    display: none;
}

.fa-solid.fa-magnifying-glass {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 40px;
    width: 40px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.form {
    margin-left: 20px;
}

.flex-container-filtres>h3 {
    margin-left: 20px;
    margin-top: 10px;
}

}