/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.page {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

h2 {
    font-weight: 700;
    margin: 15px 0;
}

p {
    margin: 15px 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}

header img {
    width: 61px;
}

header nav a {
    padding: 15px 0;
    margin-left: 45px;
    border-top: solid 3px transparent;
    text-decoration: none;
    box-sizing: border-box;
}

header nav a:hover,
header nav a:active {
    padding-top: 20px;
    color: #0065FC;
    border-top: solid 3px #0065FC;
}

header nav a:visited {
    color: #000000;
}

a.nav2 {
    display: inline-block;
    background: white;
    border: 0.6px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 12px;
    margin: 15px;
    font-weight: 700;
}

a.nav2:hover,
a.nav2:active {
    background: #deebff;
}

input {
    width: 225px;
    height: 40px;
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;
    font-weight: 700;
    padding-left: 10px;
}

.btn-form {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    width: 110px;
    height: 40px;
    left: 408px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.fa-solid.fa-location-dot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    width: 45px;
    height: 40px;
    border-radius: 15px 0px 0px 15px;
}

.nav-filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 55%;
}

.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-dog {
    color: #0065FC;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-container-filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
}


section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 680px;
}

.tableau-gauche {
    background: #F2F2F2;
    border-radius: 20px;
    width: 65%
}

.tableau-droite {
    background: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.rangée-haut {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
}

.rangée-bas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
}

.img-card-gauche {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}



.card-gauche {
    width: 30%;
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container-gauche {
    padding-top: 15px;
    font-weight: 700 400;
    padding-left: 20px;
    padding-bottom: 0px;
    line-height: 0.8em;
    border-radius: 20px;


}

.img-card-droite{
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding: 4px;

}

.card-droite {
    width: 85%;
    height: 155px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container-droite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 700 400;
    border-radius: 20px;
    margin-left: 13px;
    margin-right: 10px;
    padding-top: 16px;
    padding-bottom: 8px
}

span>i {
    color: #0065FC;
}

.fa-solid.fa-star.grey {
    color: #F2F2F2;
}

.fa-circle-info {
    padding-right: 5px;
}

.euro {
    font-weight: 700;
}

.titre-haut {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 60px;
    margin-bottom: -25px;
    margin-top: 30px;
}

.titre-bas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 60px;
    margin-top: 15px;
    margin-bottom: 45px;
}

.titre-droite {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
}

.fa-solid.fa-chart-line {
    color: #0065FC;
}

.activites {
    margin-top: 80px;
    height: auto;
}

.tableau-activites {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.card-activites {
    width: 23%;
    height: 480px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.img-activites {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.container-activites {
    height: 65px;
    background: #FFFFFF;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

footer {
    background: #F2F2F2;
    height: 300px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    
}

.tableau-footer {
    width: 150%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    margin-left: -250px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.text-footer {
    line-height: 0.9em;
    padding-top: 10px;
}

.link-card-gauche {
    width: 100%;
    height: 215px;
    display: flex;
    align-items: flex-start;
    flex-direction:column;
    justify-content: center;
    
}

.link-card-droite {
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: row;
    align-items: space-between;

}

.link-card-activites {
    width: 100%
    height: 480px;
}

a.link-card-gauche, 
.link-card-droite,
.link-card-activites :hover{
    cursor: pointer;
}